<div class="card wow fadeIn" data-wow-delay="0.6s">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="img/black_male_teacher_well_dressed_1280x851.jpg" class="img-fluid" alt=""/>
        <a href="#">
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block" >
        <!--Title-->
        <h4 class="card-title"><strong>Le Cours de soutien</strong></h4>
        <!--Text-->
        <p class="card-text">
        <ul>
            <li>Soutien scolaire Individuel</li>
            <li>Le soutien scolaire collectif</li>
            <li>L'offre Objectif 100% pour les classe d'examen</li>
            <li></li>
        </ul>
        </p>


        <button id="btn-lire-la-suite-cours-soutien" type="button" class="btn btn-info btn-purple" data-toggle="modal" data-target="#captureContactModal">
            Je suis interessé !
        </button>

    </div>
    <!--/.Card content-->

</div>