<div class="card wow fadeIn" data-wow-delay="0.4s">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img style="height:170px; width: 100%;" src="img/UnBIGBossKid.jpg" class="img-fluid" alt=""/>
        <a href="#">
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title"><strong>Le Développement Personnel</strong></h4>
        <!--Text-->
        <p class="card-text"> L'école apprend apporte à votre enfant des connaissances intellectuelles mais ne lui inculque pas les valeurs telles que :
            La Persévérence,Le Courage, La vision...<br>
            C'est à cela que répond le soutien scolaire chez Elite Education.
        </p>

        <a href="devperso.html" class="btn btn-info">Lire la suite</a>
        <button id="btn-lire-la-suite-dev-p" type="button" class="btn btn-info btn-purple" data-toggle="modal" data-target="#captureContactModal">
            Je suis interessé !
        </button>
    </div>
    <!--/.Card content-->

</div>