<!--Footer Links-->
<div class="container-fluid">
    <div class="row">

        <!--First column-->
        <div class="col-md-5 offset-lg-1 hidden-lg-down">
            <h5 class="title">A propos de Elite Education</h5>
            <p>La société Elite Education a été créée par des enseignants, des coaches ainsi que des parents d'élèves convaincus du fait que l'éducation de leurs enfants ne consiste pas uniquement en une accumulation de connaissances intellectuelles.

            </p>
            <p>
                Grâce au concours de formateurs et de professionnels de la pédagogie, ils ont mis au point un système permettant d'assurer le succès scolaire et l'entrée dans le monde professionnel des jeunes élèves et étudiants.
            </p>
        </div>


        <!--/.First column-->



        <!--Third column-->
        <div class="call-to-action col-md-5 ">
            <h4>Elite Education, Abidian</h4>
            <p>
                Angré, Quartier Sanon Dokui, à 800m de la pharmacie les Perles et 100m de l'Ecole ITES 2 Plateaux</p>
            <ul>
                <li>bonjour@elite-education.net</li>
                <li>+225 77 28 10 52</li>/
                <li>+225 88 06 17 77</li>/
                <li>+225 88 06 17 79</li>/
                <li>+33 6 11 33 12 36</li>/
                <!--<li><a target="_blank" href="http://mdbootstrap.com/getting-started/" class="btn btn-danger" rel="nofollow">Sign up!</a></li>-->
                <!--<li><a target="_blank" href="http://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-info" rel="nofollow">Learn more</a></li>-->
            </ul>
        </div>

        <!--/.Third column-->




        <!--/.Fourth column-->

    </div>

</div>