
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-2" aria-controls="navbar-2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="index.html" >
            <span style="color:#FFD700">Elite</span>
            <span style="color:#eb3df2">Education</span> Abidjan
        </a>

        <div class="collapse navbar-collapse" id="navbar-2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Accueil <span class="sr-only">(current)</span></a>
                </li>

                <!-- <li class="nav-item">
                     <a class="nav-link" href="coursvacances.html">Les cours de vacances</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="systeme.html">Le Système Elite Education </a>
                 </li> -->
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="services-menu" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Les services</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="services-menu">
                        <a class="dropdown-item" href="devperso.html">Developpement Personnel</a>
                        <a class="dropdown-item" href="soutiensco.html">Cours de Soutien</a>
                        <a class="dropdown-item" href="remiseaniveau.html">Remise à Niveau </a>
                        <!--<a class="dropdown-item">Something else here</a>-->
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link">Intranet</a>
                </li>
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="recrutement-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recrutements</a>
                    <div class="dropdown-menu dropdown" aria-labelledby="recrutement-menu">
                        <a class="dropdown-item">Enseignants</a>
                        <a class="dropdown-item">Conseillers d'Education</a>
                        <!--<a class="dropdown-item">Something else here</a>-->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contacts</a>
                </li>
            </ul>
            <!--<form class="form-inline waves-effect waves-light">-->
            <!--<input class="form-control" type="text" placeholder="Recherche">-->
            <!--</form>-->

        </div>

    </div>

