<div class="card wow fadeIn" data-wow-delay="0.4s">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="img/black_female_teacher_with_studs_1536x1025.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">Le Développement Personnel</h4>
        <!--Text-->
        <p class="card-text">Nous vous assurons à votre enfant, un suivi unique en son genre comprenant une collaboration étroite avec l'école de votre enfant.</p>
        <a href="#card-rappelez-moi" class="btn btn-info btn-purple" id="btn-lire-la-suite-dev-p">Je suis interessé</a>
    </div>
    <!--/.Card content-->

</div>