<div class="card wow fadeIn" data-wow-delay="0.8s">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="img/concentrating-teacher_900x600.jpg" class="img-fluid" alt="">
        <a href="#">
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <h4 class="card-title"><strong>Cours Intensif de Remise à Niveau</strong></h4>
        <p class="card-text">Nous mettons votre enfant est au centre de nos pr&eacute;ocupations.
            Le coach Elite Education doit apprendre à le connaitre...</p>

        <button id="btn-lire-la-suite-remise-a-niv" type="button" class="btn btn-info btn-purple" data-toggle="modal" data-target="#captureContactModal">
            Je suis interessé !
        </button>
    </div>
    <!--/.Card content-->

</div>